#settings i {
    position:absolute;
    color:chartreuse;
    font-size: 33px;
    cursor: pointer;
}

#settings i:hover{
    color:tomato;
    
}

#settings .selected{
    color: tomato;
}

.hide{
    display: none;
}

#icone_24H {
    position: absolute;
    top:20px;
    left:20px;
}

#icone_masquerDate {
    position: absolute;
    top:60px;
    left:16px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    opacity: 75%;

    
    position: absolute;
    left: 70px;
    z-index: 1;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}




