html, body {
    margin:0px;
}


.container1 {
    display:flex;
    flex-direction: column;
}

.titre {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(125, 204, 204);
}

.liens {
    display:flex;
    background-color: rgb(243, 38, 38);
    padding: 10px;
}

.liens a {
    padding: 10px;
    text-decoration: none;
    color:rgb(209, 221, 41)
}

.liens a:hover {
    background-color: blueviolet;
    color: rgb(122, 177, 179);
    transition-property: all;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;   
}


img {
    background-color: darkviolet;
    margin-left: 10px;
    margin-right: 10px;
}

#maison {
    max-width: 200px;
}

#maison:hover {
    transition-property: all;
    transition-duration: 700ms;
    transform: skew(-50deg);
}

#laveuse {
    max-height: 400px;
}

#laveuse:hover {
    transition-property: all;
    transition-duration: 100s;
    transform: rotate(100080deg);
}

#ulysse:hover {
    transition-property: all;
    transition-duration: 7s;
    transform: scale(6);

}

.container3 {
    display: flex;
    flex-direction: row;
}

.propos {
    display: flex;
    flex-direction: column;
    background-color:rgb(10, 95, 97);
    flex-basis: 20%;
    
}

.articles {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: grey;
}


